{% load widgets %}
<div class="btn-group-vertical btn-group-toggle p-2
            " data-toggle="buttons">
{% for index, audio in feed.choices %}
    {% radio name="response" value=index required=True class="d-flex flex-row align-items-center flex-grow-1 btn-primary" %}
        <span class="badge m-2">{{index}}</span>
        <div class="d-flex justify-content-center flex-grow-1 text-center">
            {% playbutton audio=audio %}
        </div>
    {% -radio %}
    {# {% radio_audio name="response" index=index audio=audio %} #}
{% endfor %}
</div>
