{% load widgets %}
<div class="btn-group-vertical btn-group-toggle p-2
            " data-toggle="buttons">
{% with "d-flex flex-row align-items-center flex-grow-1 btn-primary" as class %}
{% for option in options %}
{% radio name="response" value=option.value class=class active=option.active %}
    <span class="badge m-2">{{option.value}}</span>
    <div class="d-flex justify-content-center flex-grow-1 text-center">
        {% playbutton audio=option.audio %}
    </div>
{% -radio %}
{% endfor %}
{% endwith %}


{# {% for index, audio in feed.choices %} #}
    {# {% aboption value=index response=response %} #}
{# {% endfor %} #}
</div>
