{% extends 'front/question.html' %}
{% load static widgets i18n %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.css"/>
{% mushra.css width="80px" height="200px" base="5px" %}
{% endblock %}

{% block script %}
{{block.super}}
{% mushra.js %}
{% endblock %}

{% block question %}
<div class="border d-flex justify-content-center bg-light rounded"
     style="overflow:auto">
    {% mushrareference audio=feed.reference %}
{% for k, sample in feed.choices %}
    {% mushrastimulus name=k audio=sample %}
{% endfor %}
</div>
{% endblock %}
