{% extends 'base.html' %}

{% load widgets %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/rangeslider.css' %}"/>
<link rel="stylesheet" href="{% static 'css/_audio.css' %}"/>
{% endblock %}

{% block script %}
{{block.super}}
<script src="{% static 'js/rangeslider.js' %}"></script>
{% audio.js %}
{% endblock %}

{% block nav %}
    {% nav_main form="question-form" %}
{% endblock nav %}

{% block main %}
<form action="save"
      method="post"
      id="question-form"
      role="form">
    {% csrf_token %}
    <input type="hidden" name="feed" value="{{feed.id}}"></input>
    <div class="d-flex flex-column">
        {% instruction instructable=feed.question error="No instruction for this question" %}
        {% block question %}
        {% endblock question %}
    </div>
</form>
{% endblock main %}
