{% extends "base.html" %}

{% load widgets %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/rangeslider.css' %}"/>
<link rel="stylesheet" href="{% static 'css/_audio.css' %}"/>
{% endblock %}

{% block script %}
{{block.super}}
<script src="{% static 'js/rangeslider.js' %}"></script>
{% audio.js %}
{% endblock %}

{% block nav %}
{% nav_main form="section-form" %}
{% endblock nav %}

{% block main %}
<form action=""
      method="post"
      id="section-form"
      role="form">
    {% csrf_token %}
    <div class="d-flex flex-column">
        {% instruction instructable=feed.section error="No instruction for this section" %}
    </div>
</form>
{% endblock %}
