{% extends "base.html" %}
{% load widgets filters %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="{% static 'survey.css' %}"/>
{% endblock style %}

{% block main %}
<form action="" method="post">
    {%csrf_token%}
    <div class="d-flex flex-column">
        {% instruction instructable=survey error="No instruction for this section" %}
        <div class="d-flex justify-content-center">
            {# TODO Move the stupid filter thing to form class and be mindful of translation? #}
            {{form.description|add_attr:'class=form-control&style=width:200px&placeholder=Your Name'}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock main %}
