.main--abquestion {
}

.core--abquestion {

}

.panel--choices--abquestion {
    flex: 1 0 auto;
    max-width: 150px;
}

.choice, .reference {
    margin: 5px 0px;
    padding: 5px;
}

.choice {
    width: 100%;
    align-items: center;
}

.choice:hover {
    background-color: #DDD;
}

.reference {
    border-bottom: 1px solid black;
}

.reference i {
    font-size: 16px;
    font-weight: bold;
}
