<script>
function toggle_audio(button) {
    button.blur();
    var audio = $(button).parent().children('audio')[0];
    var $icon = $(button).children('span');

    if ($icon.hasClass("{{play}}")) {
        $icon.removeClass("{{play}}").addClass("{{pause}}");
        audio.addEventListener("ended", function() {
            $icon.removeClass("{{pause}}").addClass("{{play}}");
        });
        audio.play();
    } else {
        $icon.removeClass("{{pause}}").addClass("{{play}}");
        audio.pause();
    }
}

function update_volume(event) {
    $('audio').each(function() {
        this.volume = event.target.value;
    })
    sessionStorage.setItem("volume", event.target.value);
}

$(document).ready(function() {
    $('.btn-play').each(function() {
        $(this).children('span').addClass("{{play}}");
        $(this).click(function(event) {
            event.stopPropagation();
            toggle_audio(this);
        })
    });

    $('.volume').rangeslider({
        polyfill: false,
        rangeClass: 'track bg-light rounded',
        fillClass: 'progress bg-success rounded',
        handleClass: 'thumb',
        horizontalClass: 'track-horizontal w-100',
        disabledClass: 'track-disabled',
        activeClass: 'track-active'
    }).on('input change', update_volume)
    .each(function() {
        var volume = sessionStorage.getItem("volume");
        $(this).val(volume === null ? 0.5 : volume);
    });
});
</script>
