{% extends 'survey/base.html' %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

<form action="" method="post" role="form"
      class="d-flex flex-column
             border border-danger
             ">
    {% csrf_token %}
    <div class="d-flex">
        <div class="flex-grow-1">
            {% if feed.question.has_instruction %}
                {% if feed.question.instruction_is_html %}
                    {% autoescape off %}
                    {{feed.question.instruction_content}}
                    {% endautoescape %}
                {% else %}
                    {{feed.question.instruction_content}}
                {% endif %}
            {% else %}
                No instructions for this question
            {% endif %}
        </div>
        <div class="form-group h-100">
            <div class="btn-group-vertical btn-group-toggle
                        d-flex align-items-center h-100" data-toggle="buttons">
                <div class="d-flex flex-row align-items-center flex-grow-1 flex-fill
                              btn btn-static">
                        <span class="badge mr-4">X</span>
                        <div class="audio">
                            <audio preload="auto">
                                <source src="{{MEDIA}}{{feed.X.data}}" type="{{feed.X.data_format}}"/>
                                Audio format not supported.
                            </audio>
                            <button type="button" class="btn btn-light play" id="play-x">
                                <span class="glyphicon glyphicon-play"/>
                            </button>
                        </div>
                </div>
                {% for k, v in feed.choices %}
                <label class="d-flex flex-row align-items-center flex-grow-1 flex-fill
                              btn btn-primary">
                    <input type="radio" name="sample" id="{{v.id}}" required>
                        <span class="badge mr-4">{{k}}</span>
                        <div class="audio">
                            <audio preload="auto">
                                <source src="{{MEDIA}}{{v.data}}" type="{{v.data_format}}"/>
                                Audio format not supported.
                            </audio>
                            <button type="button" class="btn btn-light play" id="play-{{k}}">
                                <span class="glyphicon glyphicon-play"/>
                            </button>
                        </div>
                    </input>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "survey/flipper.html" %}
</form>

<!--
<form class="parent main main--abquestion" action="" method="post">
    {% csrf_token %}
    <div class="parent core core--abquestion">
        <div class="parent panel panel--text panel--text--abquestion">
            {% if feed.question.has_content %}
                {% if feed.question.is_html %}
                    {% autoescape off %}
                    {{feed.question.content}}
                    {% endautoescape %}
                {% else %}
                    {{feed.question.content}}
                {% endif %}
            {% else %}
                No instructions for this question
            {% endif %}
        </div>

        <ul class="parent panel panel--choices panel--choices--abquestion">
            <li class="parent reference">
                <input type="hidden" name="reference" value="{{feed.X.id}}" id="x">
                    <div class="audio">
                        <audio preload="auto">
                            <source src="{{MEDIA}}{{feed.X.data}}" type="{{feed.X.data_format}}"/>
                            Audio format not supported.
                        </audio>
                        <button type="button" class="play" id="play-x"></button>
                    </div>
                    <i>Reference</i>
                </input>
            </li>

            {% for k, v in feed.choices %}
            <li class="parent schoice">
                <input type="radio" name="sample" value="{{v.id}}" id="{{k}}" required>
                    <div class="audio">
                        <audio preload="auto">
                            <source src="{{MEDIA}}{{v.data}}" type="{{v.data_format}}"/>
                            Audio format not supported.
                        </audio>
                        <button type="button" class="play" id="play-{{k}}"></button>
                        {{k}}
                    </div>
                </input>
            </li>
            {% endfor %}
        </ul>


    </div>
    {% include "survey/flipper.html" %}
</form>
-->
{%endblock%}
