<div class="footer
            d-flex flex-row-reverse justify-content-between"
     style="border-style: solid">
    {%csrf_token%}
    <label for="next" class="btn">
        <input id="next" type="submit" name="direction" value="next" class="hidden"/>
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"/>
    </label>

    {% if not feed.page.is_effectively_first %}
    <label for="prev" class="btn">
        <input id="prev" type="submit" name="direction" value="prev" class="hidden"/>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"/>
    </label>
    {% endif %}
</div>
