{% extends "survey/base.html" %}
{% block body %}
<form class='parent main main--section' action="" method="post">
<div class='parent core core--section'>
    <div class='panel panel--text panel--text--section'>
    {% if feed.section.instruction_is_html %}
        {% autoescape off %}
        {{feed.section.instruction_content}}
        {% endautoescape %}
    {% else %}
        {{feed.section.instruction_content}}
    {% endif %}
    </div>
</div>
{% include "survey/flipper.html" %}
</form>
{% endblock %}
