.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-static {
    cursor: default;
    background-color: #0a4;
}

.btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
}

.flex-full {
    flex: 1;
}

.navbar-brand {
    line-height: normal;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

.navbar-panel {
    display: flex;
    align-items: center;
    height: 100% !important;
    width: 100%;
}
