{% extends "back/base_site.html" %}
{% load static widgets i18n %}

{% block style %}
{{block.super}}
<style>
.btn-group .btn {
    background: #000;
    border-style: none
}
</style>
{% endblock %}

{% block script %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        var responses = JSON.parse(unescape("{{responses | safe | escapejs}}"));
        alert(unescape("{{responses | safe | escapejs}}"));
        $('#num_mos').html(responses.filter(
            function(e) {
                return e.species == 'mos'
            }
        ).length);
        $('#num_ab').html(responses.filter(
            function(e) {
                return e.species == 'ab'
            }
        ).length);
        $('#num_abx').html(responses.filter(
            function(e) {
                return e.species == 'abx'
            }
        ).length);
    })
</script>
{% endblock %}

{% block main %}
{% foldy name="filters" expanded=True %}
    {% foldyhead class="text-weight-bold" %}
        {% trans "Filters" %}
    {% -foldyhead %}
    {% foldybody class="d-flex justify-content-between" %}
    {% qtypefilters survey %}
    {# {% completionfilters survey %} #}
    {# {% sectionfilters survey %} #}
    {% -foldybody %}
{% -foldy %}


{% endblock %}
