{% load i18n widgets %}
<div class="d-flex align-items-center m-1" id="qtypefilters">
    <span class="font-weight-bold mr-3">{% trans "Question Types" %}</span>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% radio name="qtype" value="mos" class="btn-primary" required=True active=True %}
            MOS
            <span id="num_mos" class="badge badge-warning"/>
        {% -radio %}
        {% radio name="qtype" value="ab" class="btn-primary" required=True %}
            AB
            <span id="num_ab" class="badge badge-warning"/>
        {% -radio %}
        {% radio name="qtype" value="abx" class="btn-primary" required=True %}
            ABX
            <span id="num_abx" class="badge badge-warning"/>
        {% -radio %}
    </div>
</div>
